<div id="<%= dom_id order %>">
  <p>
    <strong>Order id:</strong>
    <%= order.id %>
  </p>
  <p>
    <strong>Created at:</strong>
    <%= order.created_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

</div>
