<div id="<%= dom_id order_line_item %>">
  <p>
    <strong>Order:</strong>
    <%= order_line_item.order_id %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= order_line_item.count %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order_line_item.product.description %>
  </p>

</div>
